<!--Add category-->
<div class="background">
  <div class="flex-center">
    <button
      md-fab
      [disabled]="!isPreviousBtnVisible"
      (click)="next(-1)">
      <md-icon>keyboard_arrow_left</md-icon>
    </button>
    <ul>
      <ng-container *ngFor="let word of allWords; let id = index;">
        <li
          *ngIf="currentId === id"
          [@cardAnimation]="stateCardAnimation"
          (click)="changeSide()">
          <md-card
            class="example-card"
            [@sideAnimation]="stateSideAnimation"
            [ngClass]="{
              'english-side': isCardOnEnglishSide
            }">
            <md-card-content>
              <p class="card-content">
                {{ isCardOnEnglishSide ? word.english : word.polish }}
              </p>
            </md-card-content>
            <md-card-actions
              *ngIf="isCardOnEnglishSide">
              <div class="example-container">
                <div class="example-button-row">
                  <span
                    class="example-tooltip-host"
                    mdTooltip="{{ word.known === false? 'Mark if You know this word' : 'Mark if You do not know this word' }}"
                    [mdTooltipPosition]="position">
                    <md-button-toggle
                      [ngClass]="{
                        'known': word.known,
                        'unknown': !word.known
                      }"
                      [checked]="word.known"
                      [value]="!word.known"
                      (change)="onSlideToggleChange(word.id, $event)"
                      (click)="$event.stopPropagation()">
                      {{ word.known === true? 'known' : 'unknown' }}
                    </md-button-toggle>
                  </span>
                </div>
              </div>
            </md-card-actions>
          </md-card>
        </li>
      </ng-container>
    </ul>
    <button
      md-fab
      [disabled]="!isNextBtnVisible"
      (click)="next(1)">
      <md-icon>keyboard_arrow_right</md-icon>
    </button>
  </div>
  <footer>
    <p class="center-align">© 2017 All rights reserved<p>
  </footer>
</div>