.background {
    background: white;
    background: -webkit-linear-gradient(-90deg, white, #D9D9D9, white);
    background: -o-linear-gradient(-90deg, white, #D9D9D9, white);
    background: -moz-linear-gradient(-90deg, white, #D9D9D9, white);
    background: linear-gradient(-90deg, white, #D9D9D9, white);
    padding-top: 10vh;

    .flex-center {
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        height: 80vh;
        width: 90vw;
        margin: 0 auto;

        .words-cards {
          overflow: auto;
          width: 30vw;

          &::-webkit-scrollbar {
            width: 10px;
          }
          
          &::-webkit-scrollbar-track {
            background-color: #626262;
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: #929292;
          }

          md-card {
            margin: 5px 0;
            text-align: center;
            text-transform: capitalize;
            cursor: pointer;
          }
        }

        .word-card {
          align-self: center;
          width: 20vw;
          margin: 0 30px;

          md-card {
            margin: 5px 0;
            text-align: center;
            text-transform: capitalize;
            cursor: pointer;
          }
        }

        .form {
          align-self: center;
          width: 30vw;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 10vh;
        color: grey;
    }

    .center-align {
        text-align: center;
    }
}

.example-full-width {
  width: 100%;
}

.example-container {
  margin-top: 20px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
