.known {
    background-color: green;
}
.unknown {
    background-color: red;
}

.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}

.example-container {
  width: 500px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}