<div class="example-container">
  <div class="example-button-row">
    <a md-button routerLink="/flashcards" routerLinkActive="active">flashcards</a>
    <div class="example-tooltip-host" mdTooltip="Add new word" [mdTooltipPosition]="position">
      <a md-button routerLink="/new-word" routerLinkActive="active">Add Word</a>
    </div>
    <a md-button routerLink="/categories" routerLinkActive="active">Categories</a>
    <a md-button routerLink="/words" routerLinkActive="active">Words</a>
  </div>
</div>
