.example-container {
  width: 570px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 10px;
}