.example-container {
  width: 600px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 10px;
}