.message {
    height: 50px;
    width: 250px;
    background-color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        text-align: center;
    }
}

.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}

.example-container {
  width: 500px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
