<div class="background">
  <div class="flex-center">

    <!--List of all categories-->
    <div class="categories-cards">
      <md-card *ngFor="let category of allCategories">
        <div (click)="getCategory(category.id)">
          <span>{{ category.name }}</span>
        </div>
      </md-card>
    </div>

    <!--Chosen category-->
    <div class="category-card" *ngIf="category.name">
      <md-card>
        <md-card-content>
          <p>{{ category.name }}</p>
        </md-card-content>
        <md-card-actions>
          <button md-mini-fab (click)="editCategory(category.name, category.id)">
            <md-icon>create</md-icon>
          </button>
          <button md-mini-fab (click)="deleteCategory(category.id)">
            <md-icon>remove</md-icon>
          </button>
        </md-card-actions>
      </md-card>
    </div>

    <!--Add category-->
    <div class="form" *ngIf="temp.length > 0">
      <form>
        <md-input-container class="example-full-width">
          <input mdInput type="text" placeholder="Category" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        </md-input-container>
      </form>
      <div class="example-container">
        <div class="example-button-row">
          <button md-raised-button (click)="putCategory(name)">Edit Category</button>
          <button md-raised-button (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>

  </div>
  <footer>
    <p class="center-align">© 2017 All rights reserved<p>
  </footer>
</div>
