<!--Add category-->
<div>
  <form class="example-form">
    <md-input-container class="example-full-width">
      <input mdInput type="text" placeholder="e.g home" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    </md-input-container>
  </form>
  <div class="example-container">
    <div class="example-button-row">
      <button md-raised-button (click)="postCategory(name)">Add New Category</button>
      <button md-raised-button (click)="putCategory(name)">Edit Category</button>
    </div>
  </div>
</div>

<!--List of all categories-->
<md-list>
  <md-list-item *ngFor="let category of allCategories">
    <span (click)="getCategory(category.id)">{{ category.name }}</span>
  </md-list-item>
</md-list>

<!--Chosen category-->
<md-list *ngIf="category.name">
  <md-list-item>
    <span>{{ category.name }}</span>
      <button md-mini-fab (click)="editCategory(category.name, category.id)"><md-icon>create</md-icon></button>
      <button md-mini-fab (click)="deleteCategory(category.id)"><md-icon>remove</md-icon></button>
  </md-list-item>
</md-list>

<!--Delete message-->
<div *ngIf="message.length > 0" class="message" (click)="removeMessage()">
  <p>{{ message }}</p>
</div>
