<div class="background">
  <div class="flex-center">
    <md-grid-list cols="4" rowHeight="1:1">
      <md-grid-tile *ngFor="let category of allCategories">
        <md-card class="example-card" (click)="openDialog(category.id, category.name)">
          <md-card-content>
            <p>
              {{ category.name }}
            </p>
          </md-card-content>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <footer>
    <p class="center-align">© 2017 All rights reserved<p>
  </footer>
</div>
