<h1> flashcards works! </h1>
<p>
  <button (click)="getFlashcards('home')">home flashcards</button>
  <button (click)="getFlashcards('work')">work flashcards</button>
  <button (click)="getFlashcards('eating')">eating flashcards</button>
  <button (click)="getCategories()">get categories</button>
  <button (click)="getWords()">get words</button>
</p>

<!--List of all words of chosen category-->
<ul>
  <li *ngFor="let card of flashcards"
    [ngClass]="{'known': card.known, 'unknown': !card.known}">
    <span>{{ card.polish }}</span>
    -
    <span>{{ card.english }}</span>
    <span>{{ card.known }}</span>
    <span>{{ card.category.name }}</span>
  </li>
</ul>

<!--List of all categories-->
<ul>
  <li *ngFor="let category of allCategories">
    <span (click)="getCategory(category.id)">{{ category.name }}</span>
  </li>
</ul>

<!--List of all words-->
<ul>
  <li *ngFor="let word of allWords"
    [ngClass]="{'known': word.known, 'unknown': !word.known}">
    <div (click)="getWord(word.id)">
      <span>{{ word.polish }}</span>
      -
      <span>{{ word.english }}</span>
    </div>
  </li>
</ul>

<!--Chosen category-->
<ul *ngIf="category.name">
  <li>
    <span>{{ category.name }}</span>
  </li>
</ul>

<!--Chosen word-->
<ul *ngIf="word.polish">
  <li>
      <span>{{ word.polish }}</span>
      -
      <span>{{ word.english }}</span>
  </li>
</ul>